
/* const InicialDb = [
  {
    id: 1,
    nombre: "Sara Beltran",
    constelacion: "cr 45 sur 67 34c",
    cedula: "7543568454",
    ciudad: "Bogota",
    barrio: "Candelaria",
    fechaNacimiento: "03 04 1993",
    telefono: "38834592",
    celular: "3004568643",
    correo: "sara@gmail.com",
  },
  {
    id: 2,
    nombre: "Oscar Hernandez",
    direccion: "av 2 45 86",
    cedula: "4568953456",
    ciudad: "Bogota",
    barrio: "kenedy",
    fechaNacimiento: "23 09 1982",
    telefono: "34678972",
    celular: "3129836453",
    correo: "oscar@gmail.com",
  },
  {
    id: 3,
    nombre: "Milena Rodriguez",
    direccion: "cra 98 34 76",
    cedula: "8746384572",
    ciudad: "Bogota",
    barrio: "Aurora",
    fechaNacimiento: "30 12 1990",
    telefono: "83746352",
    celular: "3109384765",
    correo: "milena@gmail.com",
  },
];
 */


 /* {
  "santos": [
    {
      "id": 1,
      "nombre": "Sara Beltran",
      "direccion": "cr 45 sur 67 34c",
      "cedula": "7543568454",
      "ciudad": "Bogota",
      "barrio": "Candelaria",
      "fechaNacimiento": "03 04 1993",
      "telefono": "38834592",
      "celular": "3004568643",
      "correo": "sara@gmail.com"
    },
    {
      "id": 2,
      "nombre": "Oscar Hernandez",
      "direccion": "av 2 45 86",
      "cedula": "4568953456",
      "ciudad": "Bogota",
      "barrio": "kenedy",
      "fechaNacimiento": "23 09 1982",
      "telefono": "34678972",
      "celular": "3129836453",
      "correo": "oscar@gmail.com"
    },
    {
      "id": 3,
      "nombre": "Milena Rodriguez",
      "direccion": "cra 98 34 76",
      "cedula": "8746384572",
      "ciudad": "Bogota",
      "barrio": "Aurora",
      "fechaNacimiento": "30 12 1990",
      "telefono": "83746352",
      "celular": "3109384765",
      "correo": "milena@gmail.com"
    },
    {
      "id": 4,
      "nombre": "Juan",
      "direccion": "Perez",
      "cedula": "5739473629",
      "ciudad": "Bogota",
      "barrio": "country",
      "fechaNacimiento": "23 11 1987",
      "telefono": "74859683 ",
      "celular": "3849093456",
      "correo": "Juan@gmail.com"
    },
    {
      "id": 5,
      "nombre": "wefwe",
      "direccion": "wfwef",
      "cedula": "wefwef",
      "ciudad": "wefwef",
      "barrio": "wefwef",
      "fechaNacimiento": "sdcsd",
      "telefono": "scsdc ",
      "celular": "wedwsef",
      "correo": "qdasczcx"
    },
    {
      "id": 6,
      "nombre": "wefwe",
      "direccion": "wfwef",
      "cedula": "wefwef",
      "ciudad": "wefwef",
      "barrio": "wefwef",
      "fechaNacimiento": "sdcsd",
      "telefono": "scsdc ",
      "celular": "wedwsef",
      "correo": "qdasczcx"
    },
    {
      "id": 7,
      "nombre": "wefwe",
      "direccion": "wfwef",
      "cedula": "wefwef",
      "ciudad": "wefwef",
      "barrio": "wefwef",
      "fechaNacimiento": "sdcsd",
      "telefono": "scsdc ",
      "celular": "wedwsef",
      "correo": "qdasczcx"
    },
    {
      "id": 8,
      "nombre": "wefwe",
      "direccion": "wfwef",
      "cedula": "wefwef",
      "ciudad": "wefwef",
      "barrio": "wefwef",
      "fechaNacimiento": "sdcsd",
      "telefono": "scsdc ",
      "celular": "wedwsef",
      "correo": "qdasczcx"
    },
    {
      "id": 9,
      "nombre": "wefwe",
      "direccion": "wfwef",
      "cedula": "wefwef",
      "ciudad": "wefwef",
      "barrio": "wefwef",
      "fechaNacimiento": "sdcsd",
      "telefono": "scsdc ",
      "celular": "wedwsef",
      "correo": "qdasczcx"
    },
    {
      "id": 10,
      "nombre": "wefwe",
      "direccion": "wfwef",
      "cedula": "wefwef",
      "ciudad": "wefwef",
      "barrio": "wefwef",
      "fechaNacimiento": "sdcsd",
      "telefono": "scsdc ",
      "celular": "wedwsef",
      "correo": "qdasczcx"
    },
    {
      "id": 11,
      "nombre": "wefwe",
      "direccion": "wfwef",
      "cedula": "wefwef",
      "ciudad": "wefwef",
      "barrio": "wefwef",
      "fechaNacimiento": "sdcsd",
      "telefono": "scsdc ",
      "celular": "wedwsef",
      "correo": "qdasczcx"
    }
  ]
} */